.govuk-header {
  border-bottom: revert !important;
}

.govuk-header__container {
  margin-bottom: revert !important;
  border-bottom: revert !important;
  padding-bottom: 10px;
}

.govuk-header__logo {
  margin-bottom: revert !important;
}
