.govuk-header,
.govuk-header__container {
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

.govuk-header__container {
  margin-bottom: -10px;
}

// Main coloured borders:
.govuk-header--yellow-border {
  border-bottom-color: govuk-colour("blue");
}

.govuk-header--blue-border {
  border-bottom-color: #ffffff;
}

.govuk-header--blue-alt-border {
  border-bottom-color: govuk-colour("dark-grey");
}

// Background blended borders:
.govuk-header__container--yellow-border {
  border-bottom-color: govuk-colour("yellow");
}

.govuk-header__container--blue-border {
  border-bottom-color: govuk-colour("blue");
}

.govuk-header__container--blue-alt-border {
  border-bottom-color: govuk-colour("blue");
}
