.govuk-phase-banner--inverse {
  border-bottom: revert !important;
}

.govuk-phase-banner__text--inverse {
  color: govuk-colour("white");
}

.govuk-phase-banner.alternative {
  background: govuk-colour("dark-grey");
}
