@mixin chevron($colour, $update: false) {
  @if $update == true {
    border-bottom-color: $colour;
    border-right-color: $colour;
  } @else {
    @include prefixed-transform($rotate: 45deg, $translateY: -35%);
    border-bottom: 2px solid $colour;
    border-right: 2px solid $colour;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 10px 0 2px;
    vertical-align: middle;
    width: 8px;
  }
}

@mixin chevron-up($colour, $update: false) {
  @include chevron($colour, $update);
  @include prefixed-transform($rotate: -135deg, $translateY: 30%);
}

@mixin chevron-small($colour, $update: false) {
  @include chevron($colour, $update);
  height: 5px;
  width: 5px;
}

@mixin chevron-up-small($colour, $update: false) {
  @include chevron-small($colour, $update);
  @include prefixed-transform($rotate: -135deg, $translateY: 30%);
}

@mixin chevron-right-small($colour, $update: false) {
  @include chevron-small($colour, $update);
  @include prefixed-transform($rotate: -45deg, $translateY: 130%);
  border-bottom: 1px solid $colour;
  border-right: 1px solid $colour;
}
