@import "../../styles/mixins/prefixed-transform";
@import "node_modules/govuk-frontend/govuk/all";

@mixin chevron($colour, $update: false) {
  @if $update == true {
    border-bottom-color: $colour;
    border-right-color: $colour;
  } @else {
    @include prefixed-transform($rotate: 45deg, $translateY: -35%);
    border-bottom: 2px solid $colour;
    border-right: 2px solid $colour;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 10px 0 2px;
    vertical-align: middle;
    width: 8px;
  }
}
.app-datasets {
  display: block;
  padding-top: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    padding-top: govuk-spacing(5);
    padding-bottom: govuk-spacing(7);
  }
}

.app-datasets_caption {
  margin-top: govuk-spacing(0);
  margin-bottom: govuk-spacing(0);
}

.app-accordian__panel {
  padding-top: govuk-spacing(3);
}

.app-accordian__panel > *:nth-last-child(n + 2) {
  margin-bottom: govuk-spacing(3);
}

.app-accordian__panel-inner {
  background-color: white;
  overflow: hidden;

  cursor: default;
  @include govuk-font($size: 16);
  @include govuk-text-colour;
}

.app-accordion {
  @include govuk-font($size: 19, $weight: light);
  color: govuk-colour("blue");
  background-color: transparent;
  cursor: pointer;
  margin-bottom: govuk-spacing(4);
  padding-bottom: govuk-spacing(4);
  text-align: left;
  border: none;
  border-bottom: 1px solid $govuk-border-colour;
}

.app-accordion[open] {
  padding-bottom: 0;
}

.app-accordian__title {
  list-style-type: "";
}

.app-accordian__title:before {
  @include chevron(govuk-colour("black"));
}
